body {
  opacity: 100;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 25px;
}

.background {
  background-image: url("images/eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: absolute;
  background-attachment: fixed;
}
.container {
  padding: 5%;
  text-overflow: unset;
  background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  );
  opacity: 0.8;
  background-position: absolute;
  min-width: 60%;
  max-width: fit-content;
  max-height: min-content;
  margin-top: 3%;
  margin-bottom: 3%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

h1 {
  display: inline;
  font-size: 100px;
  color: black;
  font-family: "Patrick Hand", cursive;
}
h2 {
  display: inline-block;
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
}

.subtitle {
  font-size: 60px;
  font-family: "Patrick Hand", cursive;
  padding: 2%;
}

#celsiusDegree {
  display: inline;
  font-size: 30px;
  font-family: "Patrick Hand";
  padding: 1%;
}

.cloud-icon-title {
  font-size: 60px;
  margin-left: 2.5%;
}

.btn-outline-success {
  background-color: black;
  border-radius: 5px;
  color: white;
  border: 5px;
  height: 40px;
  width: 10%;
  margin-right: 3px;
}

.current-location-button {
  background-color: white;
  border-radius: 5px;
  color: black;
  height: 40px;
  width: 10%;
}

.current-location-button:hover {
  background-color: black;
  color: white;
}
.footer {
  text-align: center;
}

button.hover {
  cursor: pointer;
}

.fa-solid {
  padding: 5%;
}
.d-flex {
  border: 5px;
  height: 40px;
}

.float-right {
  padding: 2%;
}

#link {
  color: black;
}
ul {
  margin-top: -10%;
}
li {
  list-style: none;
  display: inline;
}

#description {
  margin-top: -2%;
  opacity: 0.6;
}

.date {
  margin-top: 2%;
}

.weather-forecast {
  background-color: #dbd8e3;
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin-left: 1%;
  border-radius: 5px;
}
