body {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 25px;
  padding: 50px;
  border: 1px solid #70757a;
  border-radius: 2%;
  max-width: 1300px;
  margin: auto;
  margin-top: 30px;
  background-image: url("images/eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  padding: 50px;
  border: 1px solid #70757a;
  border-radius: 2%;
  max-width: 1300px;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
}

h1 {
  display: inline;
  font-size: 100px;
  color: black;
  font-family: "Patrick Hand", cursive;
}
h2 {
  display: inline;
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
}
.subtitle {
  display: inline;
  font-size: 60px;
  font-family: "Patrick Hand", cursive;
  line-height: 0.5;
  margin-left: -30px;
}

a {
  display: inline;
  text-align: center;
  padding: 10px;
}

#celsiusDegree {
  display: inline;
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
  text-decoration: none;
  margin-left: -5px;
}

#fahrenheitDegree {
  display: inline;
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
  text-decoration: none;
}

.cloud-icon-title {
  font-size: 60px;
}

.btn-outline-success {
  background-color: black;
  border-radius: 5px;
  color: white;
  border: 5px;
  height: 40px;
  width: 200px;
}
.current-location-button {
  background-color: black;
  border-radius: 5px;
  color: white;
  border: 5px;
  height: 40px;
  width: 200px;
  margin-left: 10px;
}

button.hover {
  cursor: pointer;
}

.fa-solid {
  color: #655266;
  padding: 50px;
}
.d-flex {
  border: 5px;
  height: 40px;
}

