body {
  opacity: 100;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 25px;
  padding: 50px;
  border: 1px solid #a2a5a8;
  max-width: 1100px;
  margin: auto;
  margin-top: 30px;
}
.background {
  background-image: url("images/eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: absolute;
  background-attachment: fixed;
}
.container {
  padding: 20px;
  text-overflow: unset;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  opacity: 0.8;
  background-position: absolute;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  display: inline;
  font-size: 100px;
  color: black;
  font-family: "Patrick Hand", cursive;
}
h2 {
  display: inline;
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
}
.subtitle {
  font-size: 60px;
  font-family: "Patrick Hand", cursive;
  line-height: 0.5;
  margin-left: 30px;
}

a {
  display: inline;
  text-align: center;
  padding: 10px;
}

#celsiusDegree {
  display: inline;
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
  text-decoration: none;
  margin-left: -5px;
}

#fahrenheitDegree {
  display: inline;
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
  text-decoration: none;
}

.cloud-icon-title {
  font-size: 60px;
}

.btn-outline-success {
  background-color: black;
  border-radius: 5px;
  color: white;
  border: 5px;
  height: 40px;
  width: 200px;
}
.current-location-button {
  background-color: black;
  border-radius: 5px;
  color: white;
  border: 5px;
  height: 40px;
  width: 200px;
  margin-left: 0.5px;
}
.footer {
  text-align: center;
}

button.hover {
  cursor: pointer;
}

.fa-solid {
  padding: 10px;
}
.d-flex {
  border: 5px;
  height: 40px;
}

.float-right {
  margin-bottom: 30px;
  margin-left: 40px;
}

#link {
  color: black;
}
